<colors class="ng-scope ng-isolate-scope">
    <page-header headline="Find Colors for Your Photo" backlinktext="Select a Different Photo" data-backurl="/" class="ng-isolate-scope">
        <div id="PageHeader">
            <a id="HeaderBackLink" ng-if="model.backlinktext" gtm-event="['ux', 'backButton', model.backlinktext]" class="ng-scope ng-isolate-scope" data-t="ux" data-d1="backButton" data-d2="Select a Different Photo">
                <span id="HeaderLeftArrow" class="material-icons">keyboard_arrow_left</span>
                <span id="HeaderBackLinkText" class="ng-binding" data-url="/photo">Sélectionner une autre photo</span>
            </a>
            <h1 id="HeaderPageTitle" class="ng-binding">TROUVER VOTRE COULEUR POUR VOTRE ESPACE</h1>
        </div>
    </page-header>
    <div id="MainContentLeftPane">
        <div id="ColorsTileContainer">
            <a id="ColorsFamiliesTap">
                <tile data-text="Browse All Colors" class="ng-isolate-scope"><div id="TileCell" ng-class="model.cssClass()" class="HasText">
                    <div id="TileImageLoading" class="">
                        <img id="TileImage" scroll-loaded-image="" src="/img/families.jpg" alt="">
                    </div>
                    <h4 name="TileText" class="ng-binding ng-scope"><%=libraryTitle[8]%></h4>
                </div></tile>
            </a>
            <a id="ColorsCollectionTap" >
                <tile data-text="View Curated Palettes" class="ng-isolate-scope"><div id="TileCell" ng-class="model.cssClass()" class="HasText">
                    <div id="TileImageLoading" class="">
                        
                        <img id="TileImage" scroll-loaded-image="" src="/img/collections.jpg" alt="">
                    </div>
                    <h4 name="TileText" class="ng-binding ng-scope"><%=libraryTitle[9]%></h4>
                </div></tile>
            </a>
        </div>
    </div>
</colors>